  <div class="container-fluid container-login">
    <div class="dashboard-header">
        <a class="navbar-brand text-uppercase" routerLink="/home">{{dashboard}}</a>
    </div>
    <div class="row">
      <div class="form-wrapper text-center">
        <h2>Member Login </h2>
        <form  autocomplete="off" (ngSubmit)="onLogin(f)" #f="ngForm">
          <div class="form-group position-relative">
            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" #email="ngModel" name="email" email="true" ngModel>
            <span class="alert custom-alert alert-danger" *ngIf="email.touched && !email.dirty"><i class="fas fa-exclamation-triangle"></i> Please enter Email </span>
            <span class="alert custom-alert alert-danger" *ngIf="!email.valid && email.dirty && email.touched"><i class="fas fa-exclamation-triangle"></i> Please enter valid Email <i class="fas fa-times"></i></span>
            <span class="alert custom-alert alert-danger" *ngIf="errorMessage">{{errorMessage}} <i class="fas fa-times"></i></span>
          </div>
          <div class="form-group position-relative">
            <input type="password" class="form-control" minlength="6" id="pwd" placeholder="Enter password" #password="ngModel" required="required" name="password" ngModel>
            <span class="alert custom-alert alert-danger" *ngIf="password.touched && !password.dirty"><i class="fas fa-exclamation-triangle"></i> Please enter Password</span>
            <span class="alert custom-alert alert-danger" *ngIf="!password.valid && password.dirty && email.touched"><i class="fas fa-exclamation-triangle"></i>Password must greater than 6 digit </span>
           
          </div>
          <button type="submit" class="btn btn-primary btn-block border-radius-half" [disabled]="f.invalid">Login</button>
          <div class="forgot-login"><a href="#" class="text-decoration-none">Forget Username/Password?</a></div>
          <div class="register-link"><a routerLink="/register" class="text-decoration-none">Create your Account <i class="fas fa-long-arrow-alt-right"></i></a></div>
        </form>
      </div>
  </div>
</div>