.container-login {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    min-height: 100vh;
} 
.form-wrapper {
    max-width: 381px;
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #9053c7;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
}
.dashboard-header .navbar-brand {
    color: #fff;
}
.forgot-login a, .register-link a {
    font-size: 13px;
    color: #444;
}
.register-link {
    margin-top:50px;
}
.form-wrapper input.form-control, .form-wrapper .upload-image.form-control {
    border: none;
    box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -moz-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -webkit-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -o-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -ms-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    background-color: transparent;
    padding: 12px;
    height: auto;
    border-radius: 50rem;
    border: 1px solid #f6f3f3;
}
.form-wrapper h2 {
    margin-bottom: 30px;
}
.upload-image.form-control .btn-primary {
    position: relative;
    bottom: 7px;
    left: 36px;
    box-shadow: 2px 1px 20px rgba(200, 80, 192, 0.59);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    border: none;
    color:#fff;
}
.upload-image.form-control .btn-primary i {
    margin-right:5px;
}